html, body {
	min-height: 100%;
}

body {
	min-width: 20em;
	width: 100%;
	background: #f2f2f2;
	color: #333;
	font: 100%/1.5 "Helvetica Neue","Microsoft Yahei",sans-serif;
}

body {
	margin: 0;
}

.appBody {
	padding-bottom: 54px;
}

.shop-header {
	position: relative;
	z-index: 20;
	height: 44px;
	background: #3199e8;
	color: #fff;
	line-height: 44px;
}
.shop-logo {
	padding: 0 0 0 10px;
} 
.icon-logo-shop {
	color: #fff;
}

[class*=" icon-"], [class^=icon-] {
	vertical-align: middle;
	line-height: 1;
}
[class*=" icon-"]:before, [class^=icon-]:before {
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
a {
	background: 0 0;
	text-decoration: none;
	cursor: pointer;
}
.header-user-info {
	font-size: .75rem;
	padding: 0 10px 0 0;
}
.header-user-info>.link {
	padding: 4px;
	color: #fff;
}
.ui-block, .ui-padding-block {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.geo-cities-wrapper {
	margin-top: 10px;
	border-top: 1px solid #ddd;
	background: #fff;
}
.geo-city-hot, .geo-city {	
	line-height: 2.8;
	text-align: center;
	height: 2.8em;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}
.geo-city {
	color: #555;
}
.geo-city-hot {
	color: #08c;
}